.tienda {
    display: flex;
    justify-content: space-around;
}

aside {
    border-right: 2px solid black;
    max-width: 20%;
    padding-right: 30px;
    line-height: 2.5em;
}

aside ul li ul {
    padding-left: 25px;
}

.grid-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    padding: 0 15px;
}

.grid-item-tienda {
    padding: 10px;

}

.grid-item img {
    width: 100%;
}

.item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-info h3,
.item-info p {
    padding: 0px;


}

.item-info h3 {
    border: 1px solid black;
    margin: 5px 0px;
    padding: 0px 10px;
}